<h1>Sprint 13. Tasks</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Tasks"
           asp-action="Greetings">Greetings</a>
    </li>

    <li class="list-group-item">
        <a asp-controller="Tasks"
           asp-action="ProductInfo">Products</a>
    </li>

    <li class="list-group-item">
        <a asp-controller="Tasks"
           asp-action="Supermarkets">Supermarkets</a>
    </li>

    <li class="list-group-item">
        <a asp-controller="Tasks"
           asp-action="ShoppingList">Shopping list</a>
    </li>

    <li class="list-group-item">
        <a asp-controller="Tasks"
           asp-action="ShoppingCart">Shopping cart</a>
    </li>
</ul>
